// All of your custom SCSS variables go first
$primary:       #012340 ;
$secondary:     #ffffff ;
$light:         #f1f1f1 ;
$dark:          #000000 ;//then bootstrap & bootstrap-vue should be added after 
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

//all other custom scss files or css should be added here
h1 {
    color: $primary;
}