<template>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Unified Communication Solutions</h1>
      <p class="lead">
        Unified Communication SolutionsUnified Communication SolutionsUnified
        Communication SolutionsUnified Communication SolutionsUnified
        Communication Solutions
      </p>
      <hr class="my-4" />
      <p>
        Get a quote by selecting the equipements and services, less than a
        minute
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Get a Quote</a>
    </div>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <horizontal-stepper
              :steps="demoSteps"
              @completed-step="completeStep"
              @active-step="isStepActive"
              @stepper-finished="alert"
            >
            </horizontal-stepper>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import HorizontalStepper from 'vue-stepper'
import StepOne from './StepOne.vue'
import StepTwo from './StepTwo.vue'
export default {
  components: { HorizontalStepper },
  data() {
    return {
      demoSteps: [
        {
          icon: 'mail',
          name: 'first',
          title: 'Your Details',
          subtitle: 'Information',
          component: StepOne,
          completed: false
        },
        {
          icon: 'phone',
          name: 'second',
          title: 'Phone Users',
          subtitle: 'Information',
          component: StepTwo,
          completed: false
        }
      ]
    }
  },
  methods: {
    // Executed when @completed-step event is triggered
    completeStep(payload) {
      this.demoSteps.forEach((step) => {
        if (step.name === payload.name) {
          step.completed = true
        }
      })
    },
    // Executed when @active-step event is triggered
    isStepActive(payload) {
      this.demoSteps.forEach((step) => {
        if (step.name === payload.name) {
          if (step.completed === true) {
            step.completed = false
          }
        }
      })
    },
    // Executed when @stepper-finished event is triggered
    alert(payload) {
      alert('end')
    }
  }
}
</script>
