<template>
  <div style="padding: 2rem 3rem; text-align: left;">
    <div class="field">
      <label class="label">Your Name</label>
      <div class="control">
        <input
          v-model="form.username"
          :class="['input', $v.form.username.$error ? 'is-danger' : '']"
          type="text"
          placeholder="Text input"
        />
      </div>
      <p v-if="$v.form.username.$error" class="help is-danger">
        This username is invalid
      </p>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input
          v-model="form.demoEmail"
          :class="['input', $v.form.demoEmail.$error ? 'is-danger' : '']"
          type="text"
          placeholder="Email input"
        />
      </div>
      <p v-if="$v.form.demoEmail.$error" class="help is-danger">
        This email is invalid
      </p>
    </div>
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea
          v-model="form.message"
          :class="['textarea', $v.form.message.$error ? 'is-danger' : '']"
          placeholder="Textarea"
        ></textarea>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  props: {
    clickedNext: { type: Object, default: null },
    currentStep: { type: Object, default: null }
  },
  data() {
    return {
      form: {
        username: '',
        demoEmail: '',
        message: ''
      }
    }
  },
  validations: {
    form: {
      username: {
        required
      },
      demoEmail: {
        required,
        email
      },
      message: {
        required
      }
    }
  },
  watch: {
    $v: {
      handler(val) {
        if (!val.$invalid) {
          this.$emit('can-continue', { value: true })
        } else {
          this.$emit('can-continue', { value: false })
        }
      },
      deep: true
    },
    clickedNext(val) {
      if (val === true) {
        this.$v.form.$touch()
      }
    }
  },
  mounted() {
    if (!this.$v.$invalid) {
      this.$emit('can-continue', { value: true })
    } else {
      this.$emit('can-continue', { value: false })
    }
  }
}
</script>

<style></style>
